#footer-wrap
  #ft
    .ft-item-1
      .t-top
        .t-t-l
          p.ft-t.t-l-t 关于本站
          .bg-ad
            div
              | 构建此网站的目的就是为了记录自己技术的进步，再好的记性都不如烂笔头，希望自己能每日一更，不断进步。
        .t-t-r
          p.ft-t.t-l-t 快捷导航
          ul.ft-links
            li
              a(href='https://') 建站指南
              a(href='https://') 网址导航
            li
              a(href='/music/') 来杯咖啡
              a(href='https:///') 留点什么
            li
              a(href='https:///') 关于博主
              a(href='https:///') 文章归档
    .ft-item-2
      p.ft-t 推荐链接
      .ft-img-group
        .img-group-item
          a(href='https://www.itbob.cn/')
            img(src='https://cdn.jsdelivr.net/gh/Killer-89757/PicBed/images/2024%2F03%2F20240322202303-48a7ac.png' alt='')
        .img-group-item
          a(href='https://www.itbob.cn/')
            img(src='https://cdn.jsdelivr.net/gh/Killer-89757/PicBed/images/2024%2F03%2F20240322202303-48a7ac.png' alt='')